name: Continuous Deploy Pipeline (Release)

# noface-dating Continuous Deploy Pipeline
#
# main에서 수동 태깅 작업 후, push 작업 시에 동작.
#
# 수행동작
# - build jar
# - build docker image
# - send tar
# - previous docker container 정지
# - execute docker container

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 태그 검증
      - name: Verify tag is on main branch
        run: |
          TAG_COMMIT=$(git rev-list -n 1 ${{ github.ref_name }})

          echo "Tag commit: $TAG_COMMIT"

          if ! git branch -r --contains "$TAG_COMMIT" | grep -q "origin/main"; then
            echo "❌ This tag is NOT based on main branch. Deployment aborted."
            exit 1
          fi

          echo "✅ Tag is based on main branch. Proceeding."

      # JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # JAR build
      - name: Build jar
        run: |
          chmod +x ./gradlew
          ./gradlew clean bootJar -x test
      
      # Docker build
      - name: Build Docker image
        run: |
          docker build -t duri-core/app:${{ github.ref_name }} .
          
      # Docker image -> tar
      - name: Save Docker image
        run: |
          docker save duri-core/app:${{ github.ref_name }} > duri-core-image.tar

      - name: testing ipv6 for command
        run: |
          curl -m 9 --ipv6 --verbose https://google.com

      # Upload to server
      - name: Upload Docker image to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          protocol: 'tcp6'
          source: "duri-core-image.tar"
          target: "/home/ubuntu/duri-core/"

      # Run Container
      - name: Run Docker container on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/duri-core
            
            sudo docker load -i duri-core-image.tar
            
            sudo docker stop duri-core || true
            sudo docker rm duri-core || true
            
            # 컨테이너 실행
            sudo docker run -d \
              --restart unless-stopped \
              --name duri-core \
              -p 8080:8080 \
              duri-core/app:${{ github.ref_name }}
